<h1>Screening Index Page</h1>
<%= current_user.email%>
<p>Types Of Screening :</p>
<ul>
    <%@screening.each_with_index do |screening,index|%>
        <li><%= link_to "#{screening.screening_type.capitalize}" , new_screening_question_answer_path(screening_id: screening.id, question_id: Question.where(screening_id: screening.id).first.id) %></li>
    <%end%>
</ul>